{% extends "layout.html" %}

{% set pageId = "home-page" %}

{% block styles %}
    <link rel="stylesheet" href="./styles/form.css">
{% endblock styles %}

    

 {% block title %}
    <title>Contato</title>
 {% endblock title %}   

{% block content %}
        <main>
            <div class="form">
                <form action="">
                    <fieldset>
                        <div class="field-group">
                            <div class="field">
                                <label for="name">Nome Completo</label>
                                <input type="name" name="nome" placeholder="nome" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field">
                                <label for="email">E-mail</label>
                                <input type="email" name="email" placeholder="e-mail" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field">
                                <label for="state">Estado</label>
                                <select name="uf" required>Selecione o Estado
                                    <option value="">Selecione o Estado</option>
                                </select>
                                <input type="hidden" name="state">  
                            </div>
                            <div class="field">
                                <label for="city">Cidade</label>
                                <select name="city" required>
                                    <option value="">Selecione a Cidade</option>
                                </select>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field">
                                <label for="tel">Telefone</label>
                                <input type="tel" name="telefone" placeholder="tel" required>
                            </div>
                        </div>    
                        <div class="field-group">   
                            <div class="field">
                                <label for="menssagem">Mensagem</label>
                                <textarea name="mensagem" cols="40" rows="3" maxlength="500" placeholder="..." required></textarea>

                            </div>
                        </div>     
                          <button type="submit">Enviar</button>

                    </fieldset>
                </form>
            </div>
        </main>

{% endblock content %}
  
       