{% extends "layout.html" %}

{% set pageId = "home-page" %}

{% block content %}
    <div class="entrega">
       <h2>ENTREGAS</h2>
 

<p>Todos os produtos serão enviados de acordo com a forma escolhida pelo cliente, em até 2 dias úteis após a confirmação do pagamento.O prazo para a entrega varia de acordo com a forma de envio escolhida.Demais informações serão passadas após a escolha da forma de envio.</p>

 

<h2>ENVIO CORREIOS - SEDEX OU PAC PARA O BRASIL INTEIRO</h2>
<p>o cliente será informado do código de rastreio através de e-mail de cadastro após envio, e pode rastreá-lo através do site dos CORREIOS assim que o pedido for postado.https://www2.correios.com.br/sistemas/rastreamento/ctrl/ctrlRastreamento.cfm</p>

 

<h2>ENVIO EXPRESSO</h2> - MOTOBOY SÃO PAULO CAPITAL PARA CEPS CADASTRADOS.
    </div>
{% endblock content %}