<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block title %}
        <title>ModaPlusSize</title>
        {% endblock title %}
        
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="./assets/icon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="./styles/index.css">
        {% block styles %}
        {% endblock styles %}
        <link rel="stylesheet" href="./styles/index-main.css">
        <link rel="stylesheet" href="./styles/modal.css">
        <link rel="stylesheet" href="./styles/responsive.css">
    </head>
    <body>
        <div id="{{pageId}}">
           {% include "partials/page-header.html" %}
           <main>
            {% block content %}
            {% endblock content %}
            </main>
        </div>
    {% block scripts %}
    {% endblock scripts %}
    </body>
    {% include "partials/page-footer.html" %}

</html>