{% extends "layout.html" %}

{% set pageId = "home-page" %}

{% block content %}
    <div class="devolucao">
        <h2>Política de Troca Cela'Sorrizo</h2>
 

<p>Não aceitaremos devolução de produtos que possuam odor, indício de uso.
 

A Equipe AleNin trabalha para sempre deixar nossas clientes felizes e satisfeitas!
 

Então, se por algum motivo sua compra não deu certo, não se preocupe, nós trocamos para você. É só seguir certinho as orientações abaixo, conforme o Código de Defesa do Consumidor;</p>
 

<h2>Detalhes Importantes</h2>

<p>Em casos de troca ou devolução, o envio deve ser realizado no prazo máximo de até 7 (sete) dias corridos após o recebimento da mercadoria;
 

<p>A Cela'Sorrizo faz sua 1ª troca gratuita.</p>
 

A segunda troca o custo do envio é de responsabilidade do cliente.
 

Produtos de PROMOÇÔES, ou Categoria SALE, BAZAR ou OUTLET não terão trocas;
 

Produtos de todas as demais categorias terão direito a troca desde que estejam de acordo com os MOTIVOS listados por nós;
 

Não realizamos a troca por outra peça antes que a mercadoria chegue em nosso endereço;
 

Não efetuamos trocas ou devoluções de peças intimas.</p>
 

<h2>Como Trocar ou Devolver</h2>
 

<p>Envie uma mensagem para o WhatsApp (11)91481-7720, informando o número do pedido, o motivo da troca e por qual produto/numeração deseja trocar.
 

 Em até 3 (três) dias uteis você receberá um código de postagem em seu e-mail.
 

Imprima esse código e apresente na agência dos correios mais próxima de sua residência.

Aguarde nosso retorno, assim que a peça chegar, entraremos em contato para andamento da solicitação.
 

Após a conclusão da troca, logo você receberá em seu e-mail e WhatsApp a confirmação de envio com o número de rastreamento do novo produto, ou informando o crédito disponível.
 

A mercadoria deve ser devolvida intacta, com todas as etiquetas afixadas conforme foi enviada.
 

A Equipe AleNin se compromete em enviar o produto da troca / ou disponibilizar o crédito para utilização no prazo de até 5 (cinco) dias úteis do recebimento da devolução em nossa loja;</p>     

 

<h2>Motivos de Troca Aceitos</h2>
 

<p>Troca por tamanhos.
 

<p>Troca por outros modelos.</p>
 

Em caso de falha ou defeito na peça decorrente de sua produção, e devemos ser informados no prazo de 30 dias após o recebimento do produto. A troca será realizada depois de verificarmos se existe defeito de fabricação.</p>
 

<h2>Motivos de troca não aceitos</h2>
 

<p>Produtos adquiridos em promoções, como Black Friday, SALE, BAZAR, etc.
 

Solicitação de troca após 7 dias corridos do recebimento do produto.
 

Quando constatado mal uso, lavagem inadequada conforme indicação na etiqueta da peça ou furos e rasgos decorrente a acidentes.
 

Peças sem etiqueta e com indícios de uso.
 

Não aceitaremos devolução de produtos que possuam odor, indício de uso.
 

Quando constatado alterações na peça, ajustes etc.</p>
 

<p>*** TODA TROCA / DEVOLUÇÃO É ANALISADA PELO NOSSO CONTROLE DE QUALIDADE, E SE CONSTATADO ALGUM DOS ÍTENS DESCRITOS ACIMA A PEÇA SERÁ REENVIADA IMEDIATAMENTE.</p>

<h2>Restituição de Valores</h2>
 

<p>Em casos de restituição de valores, o estorno do valor da compra será feito no prazo de até 5 (cinco) dias úteis, mediante transferência bancária na conta a ser indicada de sua titularidade, quando o valor tiver sido pago por transferência ou PIX. Quando a compra for por cartão de crédito, o estorno é realizado em seu cartão nesse mesmo prazo de 5 (cinco) dias úteis, e o seu reembolso ocorrerá de acordo com as políticas de estorno da sua operadora de cartão.</p>
    </div>
{% endblock content %}