{% extends "layout.html" %}

{% set pageId = "home-page" %}

{% block content %}
    <div class="somos">
       <h1> QUEM SOMOS</h1>
 

<h2> ALENIN - A MARCA DA MULHER PLUS SIZE !</h2>
 

A moda derruba as barreiras. Isso porque, acreditamos em um estilo duradouro, por meio de uma marca especializada na moda feminina plus size. Das T shirts as malhas de encaixe perfeito os nossos vestidos e saias confortáveis de vestir, criamos estilos exclusivos em que cada peça é pensada com atenção aos detalhes e à qualidade que a moda feminina merece.

Claro, sem deixar de lado sua personalidade. Esperamos que ao descobrir a AleNin Plus Size, encontre um guarda-roupa que lhe permita viver o seu melhor lado!

 
<h3> A IMPORTÂNCIA DA MODA PLUS SIZE</h3>
Acreditamos que democratizar a moda é oferecer as nossas clientes diversas opções de roupas plus size feminina de acordo com as últimas tendências da moda. Nosso propósito é que você se sinta confiante para criar visuais marcantes, independentemente de um look casual ou formal, com muito conforto e estilo que a AleNin Plus Size proporciona.

 

    </div>
{% endblock content %}