{% extends "layout.html" %}

{% set pageId = "home-page" %}

{% block content %}
    <div class="somos">
       <h1> QUEM SOMOS</h1>
 

<h2> Cela Sorizo - PLUS SIZE !</h2>
 

<p>A moda quebra padrões.Por meio de uma marca especializada na moda feminina plus size.Esperamos que ao descobrir a Cela Sorrizo Plus Size, encontre um guarda-roupa que lhe permita viver o seu melhor lado!</p>

 
<h2> A IMPORTÂNCIA DA MODA PLUS SIZE</h2>
<p>Acreditamos que democratizar a moda é oferecer as nossas clientes diversas opções de roupas plus size feminina de acordo com as últimas tendências da moda.Nosso propósito é que você se sinta confiante para criar visuais marcantes,</p>

 

    </div>
{% endblock content %}