<div id="modal" class="hide">
                         <div class="content">
                            <form action="search">
                                <input type="text" name="search" placeholder="Pesquise...">
                            </form>
                        </div>
                    </div>  
                    <div id="modal_form_login" class="hide">
                        <div class="content">
                            <form action="">
                                <fieldset>
                                    <div class="field_group">
                                        <input type="email" name="email" id="eamil" placeholder="E-mail">
                                    </div>
                                    <div class="field_group">
                                        <input type="password" name="password" id="password" placeholder="Senha">
                                    </div>
                                    <button type="submit">Entrar</button>
                                    <hr>
                                    <div class="field_group">
                                        <h3>Não tem cadastro?</h3>
                                        <span><a href="#">clique aqui</a></span>
                                    </div>
                            </fieldset> 

                            </form>
                        </div>

                    </div> 
                    <div id="modal_shopping" class="hide">
                        <div class="content">
                            <h2>Meu carrinho (<span>0</span>)</h2>
                            <span><h3>Carrinho vazio !</h3></span>
                            <div class="button">
                                <span>Finalizar</span>
                            </div>                            
                        </div>
                    </div>