<footer>
            <div class="footer_end">
                <nav>
                    <ul>
                        <li>INSTITUCIONAL
                            <div class="column">
                                <a href="#" >QUEM SOMOS</a>
                                <a href="#" >TROCA E DEVOLUÇOES</a>
                                <a href="#" >ENTREGA</a>
                                <a href="contato" >FALE CONOSCO</a>
                            <div>
                        </li>
                        <li>AJUDA E SUPORTE
                             <div class="column">
                                <a href="mailto:21989927793">(21)99888-332</a> 
                                <a href="mailto:21989927793">(21)99888-332</a> 
                                <a href="mailto:cellasorrizo@gmail.com">cellasorrizo@plus.com</a>

                            <div>
                        </li>
                        <li>REDES SOCIAIS
                             <div class="column">
                            <a class="SocialMidia"><img src="./assets/instaImg.png" alt="redesociais"></a>
                            <a class="SocialMidia"><img src="./assets/faceImg.png" alt="redesociais"></a>

                            <div>
                        </li>
                        <li>FORMAS DE PAGAMENTO
                             <div class="column">
                            <a class="pag"><img src="./assets/formasdePagamentos.png" alt="cartoes"></a>

                            <div>
                        </li>
                    </ul>                    
                </nav>

            </div> 
                    {% include "partials/modals.html" %}
                    <div class="copy">
                        <p>© 2023 Todos os direitos reservados. Sorrizo PLUS SIZE - CNPJ 00.000.00/0001-10 - xxxx xxxx, 000 - Rio de janeiro, RJ - CEP: 0000-002</p>
                    </div>
        
        <script src="./scripts/modalSearch.js"></script>
        <script src="./scripts/modal_Login.js"></script>
        <script src="./scripts/modal_Shopping.js"></script>
    </footer>