        <header>
                <div id="top">
                    <h3>MODAS PLUS SIZEs | CELA SORRIZO</h3>
                </div>
                <div class="content">
                        <a href="/">
                            <span id="logo"><img src="./assets/logo.png" alt="logoMarca"></span>
                        </a>
                    <nav>
                        <ul>
                            <li><a href="#">NOVIDADES</li>
                            <li><a href="#">PLUS SIZE FEMININO</a></li>
                            <li><a href="#">PLUS SIZE MASCULINO</a></li>
                            <li><a href="#">MODA PRAIA</a></li>
                            <li><a href="#">CONJUNTOS</a></li>
                            <li><a href="#">LINGERIE</a></li>
                            <li><a href="#">FITNESS</a></li>
                            <li><a href="#">ACESSÓRIOS</a></li>
                            <li><a href="#"><span id="login"><img src="./assets/profile.svg" alt="login"></span></a></li>
                            <li><a href="#"><span id="shopping"><img src="./assets/shopping.svg" alt="shopping"><span class="ShoopinCont">0</span></span></a></li>
                            <li><a href="#"><span id="search"><img src="./assets/search.svg" alt="search"></span></a></li>
                        </ul>
                    </nav> 
                </div>               
            </header>