#home-page main .slider{
    display: flex;
    flex: 1;
    height: 350px;
    width: 512px;
    margin-top: 42px;
}
#slider nav{
    display: flex;
    flex: 1;
    justify-content: center;
}
#home-page main .slider ul{
    display: flex;
    flex-wrap: wrap;
}
#home-page main .slider ul li{
    list-style-type: none;
}
#home-page main .slider ul input{
    display: none;
}
#home-page main .slider ul label{
    display: block;
    background-color: blueviolet;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 470px;
    cursor: pointer;
    transition: 400ms;
    z-index: 5;
    border: 3px solid #000000f7;
    border-radius: 5px;
    
}

#home-page main .slider ul li:nth-child(1) label{
    left: 740px;
}
#home-page main .slider ul li:nth-child(2) label{
    left: 770px;
}
#home-page main .slider ul li:nth-child(3) label{
    left: 800px;
}
#home-page main .slider ul li img{
    display: flex;
    position: absolute;
    width: 75vw;
    height: 378px;
    margin-left: 200px;
}
#home-page main .slider ul li img:hover{
    cursor: pointer;
    transition: 400ms;
}

#home-page main .info ul{
    display: flex;
    flex: 1;
    justify-content: center;      

}

#home-page main .info ul li{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 50px;
    height: 63px;
    align-content: center;
    align-items: center;
}
#home-page main .info ul li img{
    width: 56px;
    height: 56px;
    
}
h3 ,p{
    font-family: 'Kanit', sans-serif;
}
.container{
    background-color: palevioletred;
    height: 0.5vh;
}

.footer_end{
    display: flex;
    flex: 1;
    height: 50vh;
    background-color: #bfbbbbf7;
    margin-top: 18px;
    justify-content: space-around;
}
.footer_end nav ul{
    display: flex;
    flex: 1;
    justify-content: center; ;
}
.footer_end nav ul li{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 50px;
    font-family: 'Kanit', sans-serif;
}

footer .copy p{
    display: flex;
    flex: 1;
    font-size: 12px;
    font-family: sans-serif;
    justify-content: center;
}
.column{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 18px;
    right:110px;
}

.column a{
    font-size:  15px;
    text-decoration: none;
    
}

.column a:hover{
    text-decoration: solid;
    color: blueviolet;
}

.column a img{
    position:relative;
    width: 256px;
    height: 128px;
    right: 40px;
    bottom:25px;
   
}
.column .SocialMidia img{
    position:relative;
    width: 28px;
    height: 28px;
    left: 30px;
    bottom:25px;
   
}
.column .pag img{
    right:110px;
}

.column .SocialMidia img:hover{
    cursor: pointer;
}