*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}

body{
    -webikit-font-smoothing:antialiased;
}

main .somos{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;    
    padding: 30px;
}
main .somos h1,h2{
    font-size: 10px;
}
main .somos h2{
    margin-top: 10px;
}
main .somos p{
    margin-top: 5px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
main .entrega{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    padding: 30px;
}
main .entrega h2{
    margin-top: 10px;
}
main .entrega p{
    margin-top: 5px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
main .devolucao{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    padding: 30px;
}

main .devolucao h2{
    margin-top: 10px;
}
main .devolucao p{
    margin-top: 5px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
@media(min-width:700px){
    body{
        -webikit-font-smoothing:antialiased;
    }
    
    main .somos{
        display: flex;
        flex-direction: column;
        width: 1000px;
        align-items: center;
        margin-left: 250px;
        padding: 60px;
    }
    main .somos h1,h2{
        font-size: 20px;
    }
    main .somos h2{
        margin-top: 20px;
    }
    main .somos p{
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    main .entrega{
        display: flex;
        flex-direction: column;
        width: 1000px;
        align-items: center;
        margin-left: 250px;
        padding: 60px;
    }
    main .entrega h2{
        margin-top: 20px;
    }
    main .entrega p{
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    main .devolucao{
        display: flex;
        flex-direction: column;
        width: 1000px;
        align-items: center;
        margin-left: 250px;
        padding: 60px;
    }
    main .devolucao h2{
        margin-top: 20px;
    }
    main .devolucao p{
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    
}
